<div class="pimg1">
  <div class="ptext">
    <span class="pborder">
      Up 2 Speed Sports
    </span>
  </div>
</div>

<section class="section section-light" id="AboutUs">
  <h2>About Us</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ab nisi ipsum cumque laborum quisquam vero ipsa vel aspernatur. Ad voluptatibus qui libero nihil itaque, cupiditate tenetur nostrum repellendus nulla beatae, sit tempore modi omnis, voluptatum quis dolores. Voluptas sit vero id hic, delectus magnam temporibus impedit possimus et magni quia eveniet, non, sequi amet voluptates corrupti ea minima cupiditate iste nesciunt, a ut necessitatibus adipisci. Sequi ipsa est, reiciendis a nemo culpa natus laboriosam, alias repudiandae consectetur eveniet illo.
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border trans">
      Image Two Text
    </span>
  </div>
</div>

<section class="section section-dark" id="SportsPerformance">
  <h2>Sports Performance</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ab nisi ipsum cumque laborum quisquam vero ipsa vel aspernatur. Ad voluptatibus qui libero nihil itaque, cupiditate tenetur nostrum repellendus nulla beatae, sit tempore modi omnis, voluptatum quis dolores. Voluptas sit vero id hic, delectus magnam temporibus impedit possimus et magni quia eveniet, non, sequi amet voluptates corrupti ea minima cupiditate iste nesciunt, a ut necessitatibus adipisci. Sequi ipsa est, reiciendis a nemo culpa natus laboriosam, alias repudiandae consectetur eveniet illo.
  </p>
</section>


<div class="pimg3">
  <div class="ptext">
    <span class="border trans">
      Image Three Text
    </span>
  </div>
</div>

<section class="section section-dark" id="Wellness">
  <h2>Wellness</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ab nisi ipsum cumque laborum quisquam vero ipsa vel aspernatur. Ad voluptatibus qui libero nihil itaque, cupiditate tenetur nostrum repellendus nulla beatae, sit tempore modi omnis, voluptatum quis dolores. Voluptas sit vero id hic, delectus magnam temporibus impedit possimus et magni quia eveniet, non, sequi amet voluptates corrupti ea minima cupiditate iste nesciunt, a ut necessitatibus adipisci. Sequi ipsa est, reiciendis a nemo culpa natus laboriosam, alias repudiandae consectetur eveniet illo.
  </p>
</section>

<div class="pimg1">
  <div class="ptext">
    <span class="pborder">
      Up 2 Speed Sports Performance
    </span>
  </div>
</div>
